.item {
  display: flex;

  &:last-of-type {
    .line {
      display: none;
    }
  }
}

.lines {
  --dot-size: 12px;

  position: relative;
  padding-right: var(--spacing-3xl);

  .dot {
    width: var(--dot-size);
    height: var(--dot-size);
    background-color: var(--base-polar-night);
    border-radius: var(--radius-rounded);
    position: absolute;
    top: var(--spacing-sm);
  }

  .line {
    width: 2px;
    height: 100%;
    background-color: var(--base-polar-night);
    position: absolute;
    top: calc(var(--spacing-sm) + var(--dot-size) / 2);
    left: 5px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  padding-bottom: var(--spacing-3xl);
}

.title,
.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.description {
  color: var(--gray-polar-night-medium);
}
